body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.no-print {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.no-print label {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

@media print {
  .no-print {
    display: none !important;
  }

  .card {
    margin: 0; /* Ensure no margin between cards */
    padding: 0; /* Ensure no padding inside cards */
    break-inside: avoid;
    page-break-inside: avoid;
  }

  .cards-container {
    margin: 0; /* Remove any margin around the cards container */
    padding: 0; /* Ensure there's no padding either */
    page-break-inside: avoid;
  }

  .card img {
    max-width: 90%;
    max-height: 70%;
    object-fit: contain;
  }
  
  .card h3 {
    color: red;
    text-align: center;
    margin: 0;
  }
  
  .card p {
    text-align: justify;
    margin: 10px 0 0 0;
    line-height: 1.5;
    text-align-last: justify; /* Ensures the last line is justified */
  }
}
